.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 585px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.image11 {
  display: block;
  margin-top: -600px;
  margin-left: -105px;
  

}
.image16 {
  display: block;
  margin-top: 80px;
  margin-left: 510px;

  

}

.image18 {
  display: block;
  margin-top: -510px;
  margin-left:-10px;

}

.image20 {
  display: block;
  margin-top: -770px;
  margin-left: 980px;

}
.image21 {
  display: block;
  margin-top:-150px;
  margin-left: 550px;

}
