a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif
    
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
}

.maintitle {
   margin-top: 10px;
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
}

.menu {
    text-align: left;
    margin-left: 540px;
    font-size: 20px;   
    word-spacing: 50px;
    margin-top: -80px
        
}

.Image1 {
    text-align: right;
    margin-left: 750px;
    width: 600px;
    height: 0px;
    margin-top: 40px;

}

.backgroundimage2 {
    background-image: url(Image_2.png);
    background-size: 550px;
    width: 600px;
    height: 700px;
    background-repeat: no-repeat;
    resize: both;
    margin-top: -26px;
    margin-left: -590px;
   
}

.tumblr {
    margin-top: -620px;
    opacity: 0.8;
    margin-left: 43px;
    
}

.instagram {
    margin-top: 15px;
    opacity: 0.7;
    margin-left: 34px;
}

.blackbox1 {
        height:35px;
        background-color: black;
        width: 120%;
        float:right;
        opacity: 0.8;
        margin-top: -75px;
        margin-right: -20px
        
}

.bannerquote {
    font-family: sans-serif;
    color: white;
    margin-top: -2px;
    margin-left: 760px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 13px;
}
