a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif
    
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
}

.maintitle {
   font-size: 62px;
   margin: 33px;
   font-family: sans-serif;
   color: black;
}

.menu {
    text-align: left;
    margin-left: 560px;
    font-size: 16px;   
    word-spacing: 50px;
    margin-top: -75px;
    color: dimgrey;
        
        
}

.Image1 {
    text-align: right;
    margin-left: 750px;
    width: 600px;
    height: 0px;
    margin-top: 40px;

}

.backgroundimage2 {
    background-image: url(Image_2.png);
    background-size: 400px;
    width: 600px;
    height: 700px;
    background-repeat: no-repeat;
    resize: both;
    margin-top: -10px;
    margin-left: -550px;
   
}

.tumblr {
    margin-top: -660px;
    opacity: 0.8;
    margin-left: 53px;
    
}

.instagram {
    margin-top: 10px;
    opacity: 0.7;
    margin-left: 44px;
}

.blackbox1 {
        height:35px;
        background-color: black;
        width: 120%;
        float:right;
        opacity: 0.8;
        margin-top: -75px;
        margin-right: -20px;
        
        
}

.bannerquote {
    font-family: sans-serif;
    color: white;
    margin-top: -2px;
    margin-left: 760px;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 13px;
}


}
.image5 {
    margin-left: 730px;
    margin-top: -504px;
    opacity: 0.85;
}
.container {
  position:absolute;
  width: 300px;
  height: 500px;
      margin-left: 1055px;
    margin-top: 110px;
  
}

.image {
  display: block;
  width: 300px;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 300px;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: sans-serif;
}
